@model Ghost.Models.SLV_TB_STG_AQUI_DADO_CADASTRAL

@{
    ViewBag.Title = "Editar Lista Generic Bootstrap";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
    @*Layout = "~/Views/Shared/_LayoutEditBootstrap.cshtml";*@
}
<br /><br />
<h4>Detalhes do Cliente</h4>

<div>
    <h4>SLV_TB_STG_AQUI_DADO_CADASTRAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SG_TP_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SG_TP_PESSOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_PESSOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_PESSOA)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.CD_CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_LOGRADOURO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_LOGRADOURO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_LOGRADOURO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_LOGRADOURO)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NM_COMPLEMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_COMPLEMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_BAIRRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_BAIRRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CIDADE)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.SG_UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SG_UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_PAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_DDD)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NR_TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_DDD_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_DDD_CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_CELULAR)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NM_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CONTATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CONTATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_GRUPO_ECONOMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_GRUPO_ECONOMICO)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NM_GRUPO_ECONOMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_GRUPO_ECONOMICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_RG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_EMISSOR_RG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_EMISSOR_RG)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_NATURALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_NATURALIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_NACIONALIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_NACIONALIDADE)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NM_PAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_PAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_MAE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_MAE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_CONJUGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_CONJUGE)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.CD_ESTADO_CIVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_ESTADO_CIVIL)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CD_REGIAO_CIVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_REGIAO_CIVIL)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.DT_CADASTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CADASTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_ATUALIZACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_ATUALIZACAO)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.DT_CARGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_CARGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_LOTE_CESSAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_LOTE_CESSAO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NR_CARGA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
