
@{
    ViewBag.Title = "Módulos existentes";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <ul>
        <li>@Html.ActionLink("Gerenciamento", "Index", "Gerenciamento") - Gerencie os clientes da base de dados.</li>
        <li>@Html.ActionLink("Acordos", "Index", "Lista") - Controle os acordos feitos com o cliente.</li>
        <li>@Html.ActionLink("Garantias", "Index", "Lista") - Veja as garantias que o cliente possui.</li>
        <li>@Html.ActionLink("Financeiro", "Index", "Lista") - Faça controla das finanças do cliente.</li>
        <li>@Html.ActionLink("Aquisição", "Index", "Lista") - Controle a aquisição dos produtos feitos pelo cliente.</li>
        <li>@Html.ActionLink("Relatórios", "Index", "Lista") - Obtenha relatórios com qualquer tipo de especificação necessária.</li>
    </ul>
</p>
